@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(247, 250, 250);
}
ul,li{
    list-style-type: none;
    
}
/* --------header style---------- */
.header{
    display: flex;
    padding: 12px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);;
    position: relative;
    z-index: 2002;
    padding-left: 0;
    padding-right: 0;
    top: 0;
}
.nav{
    display: flex;
    margin: 0 auto;
    padding: 0 64px;
    width: 100%;
    max-width: calc(1408px);
 }
 li{
    /* border: 2px solid red; */
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-content: center;
    align-items: center;
 }
.nav_logo{
    font-weight: bold;
    
}
.nav_link{
 display: flex;
 align-items: center;
 align-content: center;
 font-size: 16px;
 font-weight: 500;
 flex: 1 1 auto;
 padding-left: 20px;
}
.nav_link .nav_link_item:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 100px;
    color: rgb(0, 0, 0);
}
.nav_link_item{
     
}
.nav_button button{
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 24px;
    border-radius: 50px;
}
.nav_menu{
    display: none;
}
/* --------------------reposnive mobile navbar------------------------- */
@media (max-width: 836px) {
    .nav_menu{
        display: block;
    }
    
    .nav_link, .nav_button{
        display: none;
    }
    
    .header{
        padding: 20px 0;
    }
    .nav{
        justify-content: space-between;
        padding: 0 16px;
    }
    .nav_logo{
        
        font-weight: bold;
    }
    
}